<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <h1>{{space_name}} space!</h1>
  </head>
  <body>
    <form id="spaceForm">
      <textarea id="longText" name="longText" rows="10" cols="50"></textarea><br
      />
      <button type="submit">Post</button>
    </form>
  </body>
</html>