body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  padding: 20px;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative; /* Ensure the home-link's absolute positioning is relative to the header */
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.home-link {
  position: absolute;
  top: 10px;
  right: 10px;
}

main {
  padding: 20px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #f8f9fa;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#space-link {
  margin-top: 20px;
}

#space-link a {
  color: green; 
  text-decoration: none;
}

#space-link a:hover {
  text-decoration: underline;
}
